.room{
  height: auto;
  overflow: auto;
}

.video-grid{
  justify-content: center;
  flex-wrap: wrap;
}

.controls {
  background-color: #00000069;
  justify-content: space-between;
}

.control_button{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  cursor: pointer;
}

.control_button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.control_button i {
  font-size: 24px;
}

.leave{
  color: #EB534B;
}

@media only screen and (max-width: 320px) {
  .control_button {
    min-width: 55px;
  }

  .control_button i {
    font-size: 18px;
  }

  .control_button span{
    font-size: 13px;
  }
}

@media only screen and (max-width: 425px) and (min-width: 322px){
  .control_button {
    min-width: 65px;
  }

  .control_button span{
    text-align: center;
  }
}

@media only screen and (min-width: 1440px){
  .control_button i {
    font-size: 40px;
  }

  .control_button span{
    font-size: 30px;
  }
}