:root {
    --left-msg-bg: #232627;
    --right-msg-bg: #044497;
    --border-chat-bg: #3D3D42; 
}

.room-chat{
    background: #1c1c1c;
    border-left: 1px solid var(--border-chat-bg);
}

.chat-header{
    font-size: 13px;
    border-bottom: 1px solid var(--border-chat-bg);
}

.chat-window{
    height: calc(100vh - 84px); 
}

.messages{
    display: flex;
    flex-direction: column;
    color: floralwhite;
    font-size: x-small;
    padding: 0.5rem !important;
}

.message{
    max-width: 80%;
    min-width: 40%;
    border-radius: 15px;
}

.time{
    font-size: smaller;
}

.justify-content-end .message{
    background: var(--right-msg-bg);
}

.justify-content-start .message{
    background: var(--left-msg-bg);
}

.chat-form{
    height: 50px;
}

.input-message {
    width: 100%;
    font-size: 12px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

.input-message:focus{
    outline: none;
}

@media  only screen and (min-width: 768px){
    .messages{
        font-size: small;
    }
}

@media only screen and (min-width: 1024px) {
    .chat-header{
        font-size: 16px;
    }

    .chat-window{
        height: calc(100vh - 108px); 
    }

    .messages{
        font-size: medium;
        padding: 1rem !important;
    }

    .chat-form{
        height: 70px;
    }

    .input-message {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1440px) {
    .chat-header{
        font-size: 20px;
    }

    .chat-window{
        height: calc(100vh - 126px); 
    }

    .messages{
        font-size: larger;
        padding: 1.5rem !important;
    }

    .chat-form{
        height: 80px;
    }

    .input-message {
        font-size: 28px;
    }
}