:root {
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
}

.chat_right {
    flex: 0.2;
    border-left: 1px solid #3D3D42;
    display: flex;
    flex-direction: column;
    background-image: url('../../images/wallpaper.jpg');
}

.chat_header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F5F5F5;
}

.chat_header i{
    margin-right: 5px;
}

.chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.chat_window::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.chat_window {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.messages{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: floralwhite;
    list-style: none;
}

.messages li{
    margin-bottom: 10px;
    border-radius: 15px;
}

.message-right{
    margin-left: 30px;
    text-align: end;
    background: var(--right-msg-bg);
    padding: 10px;
}

.message-left{
    padding: 10px;
    margin-right: 30px;
    text-align: start;
    background: var(--left-msg-bg);
    color: black;
}

.message-center{
    text-align: center;
}

.chat_form {
    padding: 22px 6px;
    display: flex;
    align-items: center;
}

.chat_form input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

.chat_form input:focus{
    outline: none;
}

.chat_form i{
    color: rgb(0, 196, 65);
    font-size: 25px;
    margin-right: 3px;
    cursor: pointer;
}