.main {
    height: 100vh;
    display: flex;
}

/* videos */
.videos_left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    background-image: url('../../images/wallpaper.jpg');
}

.main_videos {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.main_videos::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.main_videos {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.main_controls {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.control_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.control_button i {
    font-size: 30px;
}

#video-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

video{
    object-fit: cover;
    padding: 8px;
}

.video-element{
    height: 300px;
    width: 400px;
}