.room-videos{
    background: linear-gradient(to right, #2d2e30 0%, #000000 100%);
}

.video-grid {
    height: calc(100vh - 90px);  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.video-element{
    height: 130px;
}

.controls{
    height: 90px;
}

.control-block{
    cursor: pointer;
}

.control-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-button i{
    font-size: 25px;
}

@media only screen and (min-width: 768px) {
    .video-grid {
        height: calc(100vh - 150px);  
    }

    .video-element{
        height: 190px;
    }

    .controls{
        height: 150px;
    }

    .control-button{
        margin-left: 10px;
        margin-right: 10px;
    }

    .control-button i{
        font-size: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .video-element{
        height: 250px;
    }

    .control-button{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .control-button i{
        font-size: 35px;
    }
}

@media only screen and (min-width: 2560px) {
    .video-grid {
        height: calc(100vh - 350px);  
    }

    .video-element{
        height: 500px;
    }

    .controls{
        height: 350px;
    }

    .control-button{
        margin-left: 50px;
        margin-right: 50px;
    }

    .control-button i{
        font-size: 80px;
    }
}